.content {
    background: linear-gradient( rgb(33, 33, 33), rgb(18, 18, 18));
    padding: 1.4em;
}

.content-item__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
}

.content-item_position {
    margin: 1em 0.5em ;
}

.content-item__title {
    color:white;
    font-size: 20px;
    font-weight: bold;
}

.content-item__link {
    color: rgb(179, 179, 179);
    text-transform: uppercase;
    text-decoration: none;
}

.content-item__link:hover {
    text-decoration: underline;
}

.content-item__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}