.search {
    display: flex;
    flex-direction: column;
}

.search__input {
    width: 30em;
    height: 3em;
    border-radius: 2em;
    color: #a7a7a7;
    outline: none;
}

.search__input {
    color: black;
}

.search__input_position {
    padding: 15px;
}

.search__label {
    color:white;
    font-size: 20px;
    font-weight: bold;
}

.search__label_position {
    padding: 1em 0;
}

.search-results_position {
    padding-top: 2em;
}