include nav.pug

doctype html 
html(lang="eng")
    head 
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="theme-color" content="#000000")
        link(rel="stylesheet", href="style-basic.css")
        link(rel="stylesheet", href="style-header.css")
        link(rel="stylesheet", href="style-main.css")
        link(rel="stylesheet", href="style-nav.css")
        link(rel="stylesheet", href="style-content.css")
        link(rel="stylesheet", href="card-music.css")
        link(rel="stylesheet", href="search.css")
    body.app
        header.header
            img(src="Spotify_logo_with_text.svg" class="logo logo_position")
        main.main
           +new-nav-search()
           div(class="content" id="content")
            div.search
                label(for="search" class="search__label search__label_position")="Что найти для вас?"
                input(type="text" id="search__input" class="search__input search__input_position search__input_text-default" value="Исполнитель")
            div(class="search-results search-results_position" id="search-results")
                div(class='content-item') 
                    div(class="content-item__header")
                        div(class="content-item__title")
                            span="Результаты поиска:"
                div(class="content-item__cards" id='results')
                    span="Пока ничего нет"
    script(type="module" src="search.js" async)
    script(type="module" src="UIController.js" async)
    script(type="module" src="APIController.js" async)